.container {
  width: 80%;
  margin: 0 auto;
}
.jumbotron {
  background-image: url(../images/jumbotron.jpeg);
  height: 100vh;
  background-size: cover;
}
.jumbotron .opacity {
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;

  z-index: 10;
}

/* .jumbotron span {
  background-image: url(../images/logo.png);
  height: 100px;
  width: 200px;
  margin-left: 10%;
  margin-top: 15%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
} */
